<%- include ("partials/header") %> 
<link rel="stylesheet" type="text/css" href="/css/stylehome.css">
</head>
<body>
		<div class="container1 container-fluid">
	            <div class="container mt-3" id="div1"> 

	            	<h3 class="mb-5 text-center"> All you need to know about Covid-19 </h3>
					Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
					Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
					<br>
					<br>
					The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
					The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
					<br>
					<br>
					At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.
				</div>

				<hr id="hr1">

				<div class="container mt-3 " id="div2">
					<h3 class=" text-center mt -3 mb-5"> Watch for Symptoms </h3>
					<div class="row mt-4">
						<div class="col-md-6 text-center img-fluid"><img id="image2" src="/images/1.png"></div>
						<div class="col-md-6 text-center img-fluid"><img id="image2" src="/images/2.png"></div>
					</div>
					<div class="row" mt-4">
						<div class="col-md-6 text-center img-fluid"><img id="image2" src="/images/3.png"></div>
						<div class="col-md-6 text-center img-fluid"><img id="image2" src="/images/4.png"></div>
					</div>
				</div>

				<hr id="hr1">

				<div class="container mt-5" id="div3">
		            <h3 class="mb-5 text-center">Know a Country's Stats</h3>

					<form action="/result" action="GET">
						<div class="form-group">
							<input type="text" style="border-radius: 2px; border:none;"class="input1 p-2" name="country" placeholder="Enter the country name">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-dark btn-block" value="Submit">
						</div>
					</form>

					<form >
						<div class="form-group"><a href="/india" class="btn btn-dark btn-block"> Go to India's Stats </a> </div>
						<div class="form-group"><a href="/all" class="btn btn-dark btn-block"> Go to all Countries Stats</a>	</div>
					</form>
				</div>

				<hr id="hr1">

				<div class="container mt-3 mb-5" id="div4">
					<h3 class=" text-center mt -3 mb-5"> Precaution is better than Cure </h3>
					<div class="row mt-4">
						<div class="col-xs-6 text-center col-md-3 img-fluid"><img id="image3" src="/images/5.png"></div>
						<div class="col-xs-6 text-center pb-xs-4 col-md-3" style="margin: auto;">Wash your Hands</div>
						<div class="col-xs-6 text-center col-md-3 img-fluid"><img id="image3" src="/images/6.png"></div>
						<div class="col-xs-6 text-center pb-xs-4 col-md-3" style="margin: auto;">Use Handkerchief while sneezing</div>
					</div>
					<div class="row" mt-4">
						<div class="col-xs-6 text-center col-md-3 img-fluid"><img id="image3" src="/images/7.png"></div>
						<div class="col-xs-6 text-center pb-xs-4 col-md-3" style="margin: auto;">Maintain Social Distancing</div>
						<div class="col-xs-6 text-center col-md-3 img-fluid"><img id="image3" src="/images/8.png"></div>
						<div class="col-xs-6 text-center pb-xs-4 col-md-3" style="margin: auto;">Visit Doctor Regularly</div>
					</div>
				</div>
				<h6 class="text-center" style="color-pink;">By Shaik Haseeb Ur Rahman © Copyright:2020 </h6>
        </div>
        
        <header>
            <h1>Covid - 19</h1>
        </header>

<%- include ("partials/footer") %> 
