body{
	background-color: #232323;
	font-family:"Lato", sans-serif;
	font-size: 20px;
	background-image: url("/images/9.jpg");
	background-size: cover;
	color: white;
	font-size: 100%;
	background-attachment: fixed;
}

#cresults{
	margin-top: 40px;
}

#h1
{
	background-color: grey;
	color: white;
	margin: 0;
	width: 100%;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal; 
}

#div1{
	background-color: lightgrey;
	color: black;
	margin: 0;
	padding: 10px 15px;
	font-size: 24px;
	font-weight: normal; 
}

#div2{
	margin-top: 20px;
}

.table1
{
	width: 100%;
	font-size: 15px;
	line-height: 2em;
	table-layout: fixed;
	border-collapse: collapse;
	color: black;
	}

.table1 tr:nth-child(odd){
	padding: 15px;
	background-color: white;
}

.table1 tr:nth-child(even){
	padding: 15px;
	background-color: lightgrey;
}

#tr1{
	background-color: grey;
	color: white;
	font-size: 17px;
	padding: 8px;
}